<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
        <title>TanTán</title>
        <link rel="shortcut icon" href="eje_favicon.ico">
        <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href='vendor/fullcalendar/fullcalendar.css' rel='stylesheet' />
        <link href='vendor/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
        <link rel="stylesheet" href="style/main.css" type="text/css">
    </head>

    <body>
        <div class="wrap">
            <a class="sr-only" href="#main">Ir al contenido</a>
            <nav id="nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="eje_acuicola_brand.png" width="25" height="14">TanTán</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#home">Granjas</a></li>
                        <!--li><a href="#sensors">Sensores</a></li>
                        <li><a href="#energy">Energía</a></li-->
                    </ul>
                </div>
            </div>
            </nav>
            <section id="tantanapp" class="container">
            <header id="header"></header>
            <section id="main"></section>
            </section>
            <footer id="copyright">
            <div class="container">
                <hr>
                <p>&copy; ejeacuicola.mx 2013</p>
            </div>
            </footer>
        </div>

        <script id="template-navbar" type="text/html">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="eje_acuicola_brand.png" width="25" height="14">TanTán</a>
            </div>
            <div class="navbar-collapse collapse">
                <section id="nav-menu"></section>
                <section id="nav-user"></section>
                <section id="nav-actions"></section>
            </div>
        </script>
        <script id="navactions" type="text/html">
            <div class="form-group">
                <input id="usuario" type="text" name="usuario" class="form-control" placeholder="nombre de usuario">
            </div>
            <div class="form-group">
                <input id="contra" type="password" name="contra" class="form-control" placeholder="contraseña">
            </div>
            <button id="login" type="submit" class="btn btn-default">Ingresar <span class="glyphicon glyphicon-user"></span></button>
        </script>
        <script id="navuseractions" type="text/html">
            <!--button id="edit-profile" type="button" class="btn btn-default">Editar perfil</button>
            <button type="button" class="btn btn-default">Agregar granja</button-->
            <button id="logout" type="button" class="btn btn-warning">Salir <span class="glyphicon glyphicon-user"></span></button>
        </script>
        <script id="navmenu" type="text/html">
            <li><a href="#home">Peces</a></li>
            <!--li><a href="#sensors">Sensores</a></li>
            <li><a href="#energy">Energía</a></li-->
        </script>
        <script id="maincontent" type="text/html">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="row">
                    <div class="jumbotron text-center">
                        <p><img class="img-responsive" src="eje_acuicola_brand.png"></p>
                        <p><img class="img-responsive" src="eje_acuicola_texto.png"></p>
                        <p>Para un manejo automatizado de granjas acuícolas.</p>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="template-main">
            <div class="row">
                <section id="region-one"></section>
                <section id="region-two"></section>
                <section id="region-three"></section>
            </div>
        </script>
        <script type="text/template" id="template-hoja">
            <a href="#"><%= nombre %></a>
        </script>
        <script type="text/template" id="template-rama">
            <a href="#"><%= nombre %></a>
            <ul class="raiz-listado collapse">
            </ul>
        </script>
        <script type="text/template" id="template-nav-root">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><%= nombre %></h1>
                </div>
                <div class="panel-body">
                    <ul id="raiz-listado" class="nav-root">
                    </ul>
                </div>
            </div>
        </script>
        <script type="text/template" id="template-item">
            <span ><%= nombre %></span>
        </script>
        <script type="text/template" id="template-item-list">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title"><%= 'Sistemas acuícolas' %></h1>
                </div>
                <div class="panel-body">
                    <small><%= 'Granjas' %></small>
                    <div id="lista-docs" class="list-group">
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="template-main-docs">
            <div id="content-tools" class="row">
            </div>
            <div id="content-docs" class="row">
            </div>
        </script>
        <script type="text/template" id="template-main-estanque">
            <div class="page-header">
                <% if (typeof nombre != 'undefined') { %>
                    <h1><%= nombre %> <small>Estanque</small></h1>
                <% } else { %>
                    <h1><small>Estanque del sistema acuícola</small></h1>
                <% } %>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="mojarra_trans.png" width="64" height="45">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Mojarras</h4>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Material <span class="label label-default"><%= material %></span></p>
                    <p>Forma <span class="label label-default"><%= forma %></span></p>
                    <p>Dimensiones <span class="label label-default"><%= dimensiones %></span></p>
                    <p>Volumen <span class="label label-default"><%= volumen %></span></p>
                </div>
            </div>
            <% if (typeof nombre != 'undefined') { %>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel-group nodo-acuatico">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Lecturas acuáticas</h1>
                            </div>
                        </div>
                        <div class="panel panel-default hide">
                            <div class="panel-heading">
                                <h1 class="panel-title">Temperatura</h1>
                            </div>
                            <div class="panel-body sensor-temp">
                                <span class="lectura valor pull-right">26.3 °C</span>
                                <canvas class="lectura-graf"></canvas>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">pH</h1>
                            </div>
                            <div class="panel-body sensor-ph">
                                <p class="lectura valor pull-right">7.3</p>
                                <canvas class="lectura-graf ph"></canvas>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">OD</h1>
                            </div>
                            <div class="panel-body sensor-od">
                                <span class="lectura valor pull-right">6.1 %</span>
                                <canvas class="lectura-graf od"></canvas>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Amonio</h1>
                            </div>
                            <div class="panel-body sensor-amonio">
                                <span class="lectura valor pull-right">0.1 mg/l</span>
                                <canvas class="lectura-graf amonio"></canvas>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Nitratos</h1>
                            </div>
                            <div class="panel-body sensor-nitratos">
                                <span class="lectura valor pull-right">0.04 mg/l</span>
                                <canvas class="lectura-graf nitratos"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel-group nodo-energia">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Lecturas energéticas</h1>
                            </div>
                        </div>
                        <div class="panel panel-default hide">
                            <div class="panel-heading">
                                <h1 class="panel-title">Temperatura</h1>
                            </div>
                            <div class="panel-body sensor-tempV">
                                <span class="lectura valor pull-right">31.7 °C</span>
                                <canvas class="lectura-graf tempV"></canvas>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Voltaje</h1>
                            </div>
                            <div class="panel-body sensor-volt">
                                <span class="lectura valor pull-right">122.3 V</span>
                                <canvas class="lectura-graf volt"></canvas>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Corriente</h1>
                            </div>
                            <div class="panel-body sensor-corriente">
                                <span class="lectura valor pull-right">14.78 A</span>
                                <canvas class="lectura-graf corriente"></canvas>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Potencia</h1>
                            </div>
                            <div class="panel-body sensor-potencia">
                                <span class="lectura valor pull-right">1807.59 W</span>
                                <canvas class="lectura-graf potencia"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } else { %>
            <% } %>
        </script>
        <script type="text/template" id="template-main-granja">
            <div class="page-header">
                <% if (typeof nombre != 'undefined') { %>
                    <h1><%= nombre %> <small>Sistema acuícola</small></h1>
                <% } else { %>
                    <h1><small>Granjas del sistema acuícola</small></h1>
                <% } %>
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="mojarra_trans.png" width="64" height="45">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Mojarras</h4>
                        <h5><%= contacto %></h5>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="template-main-contents">
            <div class="page-header">
                <% if (typeof nombre != 'undefined') { %>
                    <h1><%= nombre %> <small>Sistema acuícola</small></h1>
                <% } else { %>
                    <h1>Sistema TanTán <small>Granjas del sistema acuícola</small></h1>
                <% } %>
                <!--div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="mojarra_trans.png" width="64" height="45">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Mojarras</h4>
                    </div>
                </div-->
            </div>
            <!--div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Estankes</h1>
                </div>
                <div class="panel-body">
                    <div id="lista-granja-docs" class="list-group">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <h5>Estanke A</h5>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <h5>Estanke B</h5>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <h5>Estanke C</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div-->
        </script>
        <script type="text/template" id="template-main-sensores">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header">
                        <h1>Red de sensores <small>Nodos de monitoreo automatizado</small></h1>
                    </div>
                    <div id="lista-eventos">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="thumbnail clearfix">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" src="coordinador.png" width="64" height="45">
                                    </a>
                                    <h5 class="pull-left">Estación base</h5>
                                    <p class="text-success pull-left"><span class="glyphicon glyphicon-flash"></span></p>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>PAN ID</th>
                                        <td>0123456890abcdfe</td>
                                    </tr>
                                    <tr>
                                        <th>Velocidad</th>
                                        <td>38,400 Baudios</td>
                                    </tr>
                                    <tr>
                                        <th rowspan="2">Conectividad</th>
                                        <td>
                                            <span>Nodos encendidos</span> <span class="badge badge-success pull-right">2</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>Nodos desconectados</span> <span class="badge badge-danger pull-right">2</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="thumbnail clearfix">
                                    <a class="pull-left" href="#">
                                        <img class="media-object" src="nodo_meteo.png" width="64" height="45">
                                    </a>
                                    <h5 class="pull-left">Nodo meteorológico</h5>
                                    <p class="text-success pull-left"><span class="glyphicon glyphicon-flash"></span></p>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <ul class="list-group">
                                    <li class="list-group-item clearfix">
                                    <h5 class="pull-left">Temperatura</h5>
                                    <span class="lectura pull-right">28.4 °C</span>
                                    </li>
                                    <li class="list-group-item clearfix">
                                    <h5 class="pull-left">Humedad</h5>
                                    <span class="lectura pull-right">47.0%</span>
                                    </li>
                                    <li class="list-group-item clearfix">
                                    <h5 class="pull-left">Presión</h5>
                                    <span class="lectura pull-right">1016.1 hPa</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <div class="clearfix">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="nodo_acuatico.png" width="64" height="45">
                                        </a>
                                        <h5 class="pull-left">Estanke A</h5>
                                        <p class="text-danger pull-left"><span class="glyphicon glyphicon-flash"></span></p>
                                        <button class="btn btn-primary pull-right">Editar nodo</button>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item clearfix">
                                        <h5 class="pull-left">Temperatura</h5>
                                        <span class="lectura pull-right">26.3 °C</span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                        <h5 class="pull-left">pH</h5>
                                        <span class="lectura pull-right">7.1</span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                        <h5 class="pull-left">OD</h5>
                                        <span class="lectura pull-right">6.1%</span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                        <h5 class="pull-left">Amonio</h5>
                                        <span class="lectura pull-right">0.4 mg/l</span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                        <h5 class="pull-left">Nitratos</h5>
                                        <span class="lectura pull-right">0.4 mg/l</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <div class="clearfix">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="nodo_potencia.png" width="64" height="45">
                                        </a>
                                        <h5 class="pull-left">Estanke A</h5>
                                        <p class="text-success pull-left"><span class="glyphicon glyphicon-flash"></span></p>
                                        <button class="btn btn-primary pull-right">Editar nodo</button>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item clearfix">
                                        <h5 class="pull-left">Temperatura</h5>
                                        <span class="lectura pull-right">31.1 °C</span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                        <h5 class="pull-left">Voltaje</h5>
                                        <span class="lectura pull-right">110.7 V</span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                        <h5 class="pull-left">Corriente</h5>
                                        <span class="lectura pull-right">14.1 A</span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                        <h5 class="pull-left">Potencia</h5>
                                        <span class="lectura pull-right">1450.0 W</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <div class="clearfix">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" src="nodo_acuatico.png" width="64" height="45">
                                        </a>
                                        <h5 class="pull-left">Estanke B</h5>
                                        <p class="text-danger pull-left"><span class="glyphicon glyphicon-flash"></span></p>
                                        <button class="btn btn-primary pull-right">Editar nodo</button>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item clearfix">
                                        <h5 class="pull-left">Temperatura</h5>
                                        <span class="lectura pull-right">27.8 °C</span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                        <h5 class="pull-left">pH</h5>
                                        <span class="lectura pull-right">7.0</span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                        <h5 class="pull-left">OD</h5>
                                        <span class="lectura pull-right">5.8%</span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                        <h5 class="pull-left">Amonio</h5>
                                        <span class="lectura pull-right">0.4 mg/l</span>
                                        </li>
                                        <li class="list-group-item clearfix">
                                        <h5 class="pull-left">Nitratos</h5>
                                        <span class="lectura pull-right">0.4 mg/l</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="template-modal">
            <div class="btn-toolbar">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-info">Reportes</button>
                    <button class="btn btn-info">Calendario</button>
                </div>
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-info" data-toggle="modal" data-target="#modal-form">Operaciones</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        &nbsp;<span class="glyphicon glyphicon-chevron-down"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-toggle="modal" data-target="#modal-form">siembra</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#modal-form">cultivo</a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-toggle="modal" data-target="#modal-form">alimentación</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#modal-form">biometría</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#modal-form">lectura</a></li>
                    </ul>
                </div>
                <div class="btn-group btn-group-sm pull-right">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal-form">Agregar</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        &nbsp;<span class="glyphicon glyphicon-chevron-down"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" data-toggle="modal" data-target="#modal-form">granja</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#modal-form">estanke</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#modal-form">sensor</a></li>
                        <li class="divider"></li>
                        <li><a href="#">usuario</a></li>
                    </ul>
                </div>
                <div class="btn-group btn-group-sm pull-right">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal-form">Editar</button>
                </div>
            </div>
            <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-formLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="modal-formLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="title" class="col-sm-2 control-label">Título</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="title" placeholder="Título">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-sm-2 control-label">Descripción</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="description" placeholder="Descripción">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Guardar</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </script>

        <script type="text/javascript" src="json2.js"></script>
        <script type="text/javascript" src="vendor/jquery/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src='vendor/jquery/jquery-ui-1.10.3.custom.min.js'></script>
        <script type="text/javascript" src="vendor/marionette/javascript/underscore.js"></script>
        <script type="text/javascript" src="vendor/marionette/javascript/backbone.js"></script>
        <script type="text/javascript" src="vendor/marionette/javascript/backbone.marionette.js"></script>
        <script type="text/javascript" src="vendor/fullcalendar/fullcalendar.min.js"></script>
        <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="autobahn.min.js"></script>
        <script type="text/javascript" src="smoothie.js"></script>
        <script type="text/javascript" src="js/TanTan.js"></script>
        <script type="text/javascript" src="js/TanTan.Layout.js"></script>
        <script type="text/javascript" src="js/TanTan.AutoBahn.js"></script>
        <script type="text/javascript" src="js/TanTan.Sistema.js"></script>
        <script type="text/javascript" src="js/TanTan.Sistema.Vistas.js"></script>
        <script type="text/javascript" src="js/TanTan.Sistema.Control.js"></script>
        <script type="text/javascript" src="js/app_tantan.js"></script>
    </body>
</html>
