body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.well, .jumbotron {
    border: 1px solid #95a65b;
}
.panel-default {border-color: #95a65b;}
.jumbotron {
    padding: 10px 15px;
}
.jumbotron h1 {
    font-size: 40px;
} .jumbotron .img-thumbnail { background-color: #fff;
    padding: 5px 15px 10px;
}
.granja.img-thumbnail {
    margin-bottom: 10px;
}
.sidebar-nav {
    padding: 9px 0;
}
#rxs span {overflow-y: auto; height: 20em; display: block; background-color: #ffa; border: 1px solid #bbb;}
#geninfo {
    font-size: 60%;
}

#geninfo span {
    display: block;
}
html .fc .fc-header, .fc table .fc-header {
    font-size: 13px;
}
.fc-header-title h2 {
    font-size: 20px;
}
.fc-event {background-color: #85794d; border: 1px solid #85794d;}
/*
.fc-state-highlight {background: transparent;}
*/

.calendario {margin-top: 10px; min-height: 400px;}
.calendario table {}

#lista-eventos {font-size: 75%;}
#lista-eventos .list-group-item {padding: 5px 10px;}
#lista-eventos .list-item-text {line-height: 12px;}

#content-docs .list-group-item .lectura {font-size: 30px; font-weight: bold;}
.lectura.valor {font-size: 22px; font-weight: bold;}

/*
.node-tree .panel-body {min-height: 400px;}
overflow-y: auto;}
.nodo {background-color: white;}
.nodo.rama {background-color: gainsboro;}
*/
.nodo.hoja {background-color: white;}
.nodo.rama .nodo.rama {background-color: lightcyan;}
.nodo.active > a {font-weight: bold;}
.node-tree li.active > li {background-color: #1313e1;}
.node-tree li.active > li > a {color: white;}
.node-tree #raiz-listado {padding-left: 0;}
.node-tree .raiz-listado {padding-left: 10px;}

@media (min-width: 980px) {
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}
@media (max-width: 979px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}
